@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

html {font-size: 10px;}

.centerbox {max-width: 1440px;margin: 0 auto;}
.centerbox1100 {max-width: 1100px;margin: 0 auto;}
.btn1 {width: 30%; min-width: 100px; height: 48px;background: #000;color: #fff;border-radius: 8px;font-size: 1.6rem;}

header {padding: 1vw 1.25vw;}
header .centerbox {display: flex;justify-content: space-between;}
header h1 {width: 150px;}
header h1 img {width:150px;}

header nav {display: flex;justify-content: end;flex-grow: 1;overflow: hidden; position: relative;}
header nav::before {content: ''; display: block; position: absolute; top: 0; width: 20px; height: 100%; background: linear-gradient(to right, white 0%, white 49.48%, rgba(255,255,255,0) 100%);}
header nav::after {content: ""; display: block; position: absolute; top: 0; width: 20px; height: 100%; right: 0; background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50.52%, white 100%);}

header nav .gnb {display: flex; align-items: stretch; box-sizing: border-box; overflow-x: auto; white-space: nowrap;}
header nav .gnb::-webkit-scrollbar {
    display: none;
   /* Chrome , Safari , Opera */
}

header nav .gnb::before {content: "";flex: none;display: block;width: 20px;}
header nav .gnb::after {content: "";flex: none;display: block;width: 20px;}

header nav .gnb li {flex: none; min-width: 0; display: flex; align-items: stretch;}

header nav .gnb li a {align-items: center;display: flex;padding: 0 1vw;font-size: 1.6rem; justify-content: center; overflow: visible; flex: 1;}



header nav .gnb li.on a {background: #000;color: #fff;border-radius: 8px;}

header .searchbox {height: 100%;}
header .searchbox form {height: 100%;position: relative;}
header .searchbox form input {height: 42px;border-radius: 5px;text-indent: 8px;border: 1px solid #ddd;box-sizing: border-box; width: 100%;}
header .searchbox form button {position: absolute;right: 1px;top: 2px; width: 40px;height: auto;background: #fff;text-align: center;line-height: 3.5rem;border-radius: 3px;font-size: 1.6rem;}

header .icon {display: flex;padding: 0 20px;gap:20px;align-items: center;}

#section1 {background: url(../images/section1_diffuser.jpg) no-repeat center/100%;}
#section1 .centerbox {display: flex;flex-direction: column;align-items: center;padding: 8.85vw;}
#section1 .centerbox h2 {font-size: 4rem;color: #fff;margin-bottom: 1.25vw;}
#section1 .centerbox p {font-size: 1.6rem;color: #fff;margin-bottom: 1.25vw;}
#section1 .centerbox button {}

#section2 {width: 100%;height: 100%;position: relative;}
#background-video {position: absolute;top:0; left: 0;width: 100%;height: 100%;object-fit: cover;z-index: -1;}
#section2 .centerbox {display: flex;flex-direction: column;align-items: center;padding: 8.85vw;}
#section2 .centerbox h2 {font-size: 4rem;color: #fff;margin-bottom: 1.25vw;}
#section2 .centerbox p {font-size: 1.6rem;color: #fff;margin-bottom: 1.25vw;}
#section2 .centerbox button {}

#section3 {}
#section3 .centerbox1100 {display: flex;flex-direction: column;align-items: center;padding: 3.1vw;}
#section3 .centerbox1100 h2 {font-size: 4rem;margin-bottom: 1.25vw;}
#section3 .centerbox1100 p {font-size: 1.6rem;margin-bottom: 1.25vw;}
#section3 .centerbox1100 button {margin-bottom: 3.12vw;}

#section3 .centerbox1100 .content {display: flex;justify-content: space-between; gap: 40px;}
#section3 .centerbox1100 .content .group1 {border: 1px solid rgba(0,0,0,0.1);border-radius: 6px;overflow: hidden; width: 33%;}
#section3 .centerbox1100 .content .group1 figure {margin-bottom: 1.2rem;}
#section3 .centerbox1100 .content .group1 figure img {width: 100%;}
#section3 .centerbox1100 .content .group1 span {font-size: 1.6rem; padding-left: .6vw;margin-bottom: 0.4rem;}
#section3 .centerbox1100 .content .group1 h3 {font-size: 2rem;padding: 0.2vw 0.6vw 0.6vw;margin-top: 0.4rem;}

#section3 .centerbox1100 .content .group2 {border: 1px solid rgba(0,0,0,0.1);border-radius: 6px;overflow: hidden; width: 33%;}
#section3 .centerbox1100 .content .group2 figure {margin-bottom: 1.2rem;}
#section3 .centerbox1100 .content .group2 figure img {width: 100%;}
#section3 .centerbox1100 .content .group2 span {font-size: 1.6rem; padding-left: 0.6vw;margin-bottom: 0.4rem;}
#section3 .centerbox1100 .content .group2 h3 {font-size: 2rem;padding: 0.2vw 0.6vw 0.6vw;margin-top: 0.4rem;}

#section3 .centerbox1100 .content .group3 {border: 1px solid rgba(0,0,0,0.1);border-radius: 6px;overflow: hidden; width: 33%;}
#section3 .centerbox1100 .content .group3 figure {margin-bottom: 1.2rem;}
#section3 .centerbox1100 .content .group3 figure img {width: 100%;}
#section3 .centerbox1100 .content .group3 span {font-size: 1.6rem; padding-left: 0.6vw;margin-bottom: 0.4rem;}
#section3 .centerbox1100 .content .group3 h3 {font-size: 2rem;padding: 0.2vw 0.6vw 0.6vw;margin-top: 0.4rem;}

#section4 {border-top: 1px solid rgba(0,0,0,0.1);}
#section4 .centerbox1100 {padding: 3.1vw;}
#section4 .centerbox1100 img {width: 100%;}

#section5 {border-top: 1px solid rgba(0,0,0,0.1);}
#section5 .centerbox1100 {padding: 3.3vw; position: relative;display: flex;justify-content: center;align-items: center;}
#section5 .centerbox1100 figure {}
#section5 .centerbox1100 figure a {width: 100%;}
#section5 .centerbox1100 figure a img {width: 100%;}
#section5 .content {position: absolute;display: flex;flex-direction: column;justify-content: center;align-items: center;}
#section5 .content i {font-size: 2rem;color: #333;margin-bottom: 0.8rem;}
#section5 .content span {font-size: 1.6rem;}

#section6 {border-top: 1px solid rgba(0,0,0,0.1);}
#section6 .centerbox1100 {padding: 5.7vw 8.8vw;display: flex;}
#section6 .centerbox1100 .text {flex-basis: 50%;display: flex;flex-direction: column; justify-content: center;align-items: start;}
#section6 .centerbox1100 .text h2 {font-size: 4rem;margin-bottom: 1.25vw;}
#section6 .centerbox1100 .text p {font-size: 1.6rem;}

#section6 .centerbox1100 .signin {flex-basis: 50%;}
#section6 .centerbox1100 .signin li {margin-bottom: 2.08vw;}
#section6 .centerbox1100 .signin li .tit {font-size: 1.4rem;font-weight: bold;margin-bottom: 0.4rem;}
#section6 .centerbox1100 .signin li input {width: 100%;height: 3.6rem;border: 1px solid rgba(0,0,0,0.1);border-radius: 6px;text-indent: 8px;}
#section6 .centerbox1100 .signin button {}

footer {border-top: 1px solid rgba(0,0,0,0.1);}
footer .centerbox1100 {padding: 6.3vw 16.45vw;display: flex;flex-direction: column;align-items: center;justify-content: center;}
footer .centerbox1100 span {font-size: 1.6rem;margin-bottom: 2.9rem; text-align: center;}
footer .centerbox1100 p {font-size: 1.6rem;width: 100%;height: 100%; text-align: center; word-break: keep-all;}

/* sub */
#sub_section1 {padding: 4.16vw;border-bottom: 1px solid rgba(0,0,0,0.1);}
#sub_section1 .centerbox1100 {padding: 3.12vw 8.85vw;display: flex;gap: 30px;}
#sub_section1 .centerbox1100 figure {flex-basis: 45%;}
#sub_section1 .centerbox1100 figure img {width: 100%;}
#sub_section1 .centerbox1100 .textbox {flex-basis: 50%;display: flex;flex-direction: column;justify-content: center;}
#sub_section1 .centerbox1100 .textbox h2 {font-size: 4rem;margin-bottom: 1.25vw;}
#sub_section1 .centerbox1100 .textbox p {font-size: 1.6rem;margin-bottom: 1rem;}
#sub_section1 .centerbox1100 .textbox span {font-size: 1.6rem;margin-bottom: 1.25vw;}

#sub_section2 {}
#sub_section2 .centerbox1100 {padding: 3.1vw 13vw;}
#sub_section2 .centerbox1100 .textbox {text-align: center;padding: 0 15.1vw;}
#sub_section2 .centerbox1100 .textbox h2 {font-size: 4rem;margin-bottom: 1.25vw;}
#sub_section2 .centerbox1100 .textbox p {font-size: 1.6rem;margin-bottom: 1.25vw;}
#sub_section2 .centerbox1100 .textbox button {margin-bottom: 6rem;}

#sub_section2 .centerbox1100 .sns {display: flex;flex-direction: column;align-items: center;}
#sub_section2 .centerbox1100 .sns .insta1 {border: 1px solid rgba(0,0,0,0.1);width: 600px;height: 100%;border-radius: 6px;}
#sub_section2 .centerbox1100 .sns .insta1 .top {display: flex;position: relative;padding: 0.62vw;}
#sub_section2 .centerbox1100 .sns .insta1 .top .profile {margin-right: 8px;}
#sub_section2 .centerbox1100 .sns .insta1 .top .userinfo {display: flex;flex-direction: column;}
#sub_section2 .centerbox1100 .sns .insta1 .top .user {font-size: 1.4rem;font-weight: bold;margin-bottom: 4px;}
#sub_section2 .centerbox1100 .sns .insta1 .top .location {font-size: 1.2rem;color: #777;}
#sub_section2 .centerbox1100 .sns .insta1 .top i {position: absolute;right: 10px;top: 20px;font-size: 1.6rem;cursor: pointer;}

#sub_section2 .centerbox1100 .sns .insta1 a {width: 100%;}
#sub_section2 .centerbox1100 .sns .insta1 a img {width: 100%;}

#sub_section2 .centerbox1100 .sns .insta1 p {font-size: 1.6rem;padding: 0.62vw;} 

#sub_section2 .centerbox1100 .sns .insta2 {border: 1px solid rgba(0,0,0,0.1);width: 600px;height: 100%;border-radius: 6px;margin-top: 4rem;}
#sub_section2 .centerbox1100 .sns .insta2 .top {display: flex;position: relative;padding: 0.62vw;}
#sub_section2 .centerbox1100 .sns .insta2 .top .profile {margin-right: 8px;}
#sub_section2 .centerbox1100 .sns .insta2 .top .userinfo {display: flex;flex-direction: column;}
#sub_section2 .centerbox1100 .sns .insta2 .top .user {font-size: 1.4rem;font-weight: bold;margin-bottom: 4px;}
#sub_section2 .centerbox1100 .sns .insta2 .top .location {font-size: 1.2rem;color: #777;}
#sub_section2 .centerbox1100 .sns .insta2 .top i {position: absolute;right: 10px;top: 20px;font-size: 1.6rem;cursor: pointer;}

#sub_section2 .centerbox1100 .sns .insta2 a {width: 100%;}
#sub_section2 .centerbox1100 .sns .insta2 a img {width: 100%;}

#sub_section2 .centerbox1100 .sns .insta2 p {font-size: 1.6rem;padding: 1.2rem;} 


/* 반응형 */

@media screen and (max-width:1100px){

    #section3 .centerbox1100 .content {gap: 30px;}
}

@media screen and (max-width:897px){
    #sub_section1 .centerbox1100 .textbox h2,
    #sub_section2 .centerbox1100 .textbox h2 {font-size: 3rem;}

    #sub_section1 .centerbox1100 .textbox span,
    #sub_section2 .centerbox1100 .sns .insta1 p,
    #sub_section2 .centerbox1100 .sns .insta2 p {word-break: keep-all;}

}

@media screen and (max-width:879px){
    #sub_section1 .centerbox1100 {flex-direction: column; text-align: center;}
    #sub_section1 .centerbox1100 button.btn1 {margin: 0 auto;}
}

@media screen and (max-width:854px){
    header input {display: none;}
    header .searchbox form button {right: -11px; background: transparent;}
    header nav {justify-content: start;}
}

@media screen and (max-width:768px){
    header nav .gnb li a {font-size: 1.6rem;}

    header .icon a:last-child {display: none;}
    header .icon {gap:0px;align-items: center;}

    

    #section1 .centerbox h2, 
    #section2 .centerbox h2, 
    #section3 .centerbox1100 h2, 
    #section6 .centerbox1100 .text h2 {font-size: 3rem;}
}

@media screen and (max-width:728px){
    header .searchbox form button {right: -20px;margin-top: -5px;}
    header .searchbox form button {}
    header .icon {padding: 0 0 0 25px;}
}

@media screen and (max-width:686px){
    header h1 {width: 20%;}
    header h1 img {width: 100%;}
    header nav .gnb {overflow: auto;}
    header nav .gnb li a {font-size: 1.5rem;}
    

    #section1 .centerbox h2, 
    #section2 .centerbox h2, 
    #section3 .centerbox1100 h2, 
    #section6 .centerbox1100 .text h2 {font-size: 2.5rem;}

    #section3 .centerbox1100 .content {gap: 20px;}

    #section3 .centerbox1100 .content .group1 span,
    #section3 .centerbox1100 .content .group2 span,
    #section3 .centerbox1100 .content .group3 span {font-size: 1.4rem;}

    #section3 .centerbox1100 .content .group1 h3,
    #section3 .centerbox1100 .content .group2 h3,
    #section3 .centerbox1100 .content .group3 h3 {font-size: 1.6rem;}

    #section6 .centerbox1100 .text p {font-size: 1.4rem;}

    .btn1 {font-size: 1.4rem; height: 30px;}

    footer .centerbox1100 span,
    footer .centerbox1100 p {font-size: 1.4rem;}
}


@media screen and (max-width:612px){
    header nav .gnb li a {font-size: 1.4rem;}

    #sub_section2 .centerbox1100 .sns .insta1,
    #sub_section2 .centerbox1100 .sns .insta2 {width: 100%;}
}

@media screen and (max-width:528px){
    header h1 img {width: 90px;}

    #section1 .centerbox,
    #section2 .centerbox {padding: 6vw;}

    #sub_section2 .centerbox1100 .sns .insta1 p,
    #sub_section2 .centerbox1100 .sns .insta2 p {font-size: 1.4rem;}

}

@media screen and (max-width:450px){
    .btn1 {font-size: 1.4rem;}
    header h1 img {width: 80px;} 

    #section1 .centerbox h2, 
    #section2 .centerbox h2, 
    #section3 .centerbox1100 h2, 
    #section6 .centerbox1100 .text h2 {font-size: 2rem;}

    #section3 .centerbox1100 .content {gap: 10px;}

    #section3 .centerbox1100 .content .group1 h3,
    #section3 .centerbox1100 .content .group2 h3,
    #section3 .centerbox1100 .content .group3 h3 {font-size: 1.4rem;}

    #section6 .centerbox1100 .text p {word-break: keep-all;}
}

@media screen and (max-width:407px){
    
}